@{
    ViewData["Title"] = "Index";
}

<header>
    <h1>Juego del Ahorcado </h1>
   <p>Intentá adivinar la palabra secreta letra por letra y cuando creas que sabes cual es la palabra secreta arriesgala.</p>
</header>
