
@{
    ViewData["Title"] = "Index";
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">

}

<header>
    <h1>Juego del Ahorcado </h1>
   <p>Intentá adivinar la palabra secreta letra por letra y cuando creas que sabes cual es la palabra secreta arriesgala.</p>
</header>
<div>
   <form action='@Url.Action("NuevaPartida", "Home")' method="get">
    <button type="submit">Nueva partida</button>
</form>
</div>