@{
            <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">

}
<h2>Juego del Ahorcado</h2>

<p>Palabra: @ViewBag.Palabra</p>
<p>Intentos: @ViewBag.Intentos</p>
<p>Letras Arriesgadas: 

 @for(int i = 0; i < ViewBag.LetrasUsadas.Count; i++){
    @ViewBag.LetrasUsadas[i];   
 }</p>


<form method="post" action="/Home/ProbarLetra">
    <input type="text" name="letra" maxlength="1" placeholder="Escribi una letra" />
    <button type="submit">Probar letra</button>
</form>

<br />

<form method="post" action="/Home/ProbarPalabra">
    <input type="text" name="palabra" placeholder="Arriesgar palabra" />
    <button type="submit">Probar palabra</button>
</form>





