@{
            <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">

}
<h1>@ViewBag.resultado</h1>
<p>La palabra era: @ViewBag.Secreta</p>
@if(@ViewBag.resultado == "¡GANASTE!"){
    
}
<form method="get" action="Index">
    <button type="submit">Jugar de nuevo</button>
</form>